/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  padding: 20px;
  color: var(--text-color);
  font-family: var(--font-family), monospace;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 23px;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1024px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  height: 100vh;
}

.main_title {
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  line-height: 82.5%;
}

.title_decoration {
  color: var(--background-color);
  background-color: var(--accent-color);
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.section__title {
  color: var(--accent-color);
  background-color: inherit;
}

.advice_list__title {
  font-weight: 400;
}

.header__theme-menu {
  display: inherit;
  justify-self: center;
  grid-column-end: span 2;
  align-self: self-start;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

